<!DOCTYPE html>
<html>
<head>
    <title>Income Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
</head>
<body>
    <div class="navbar">
        Crystl🔮 - Your Personal Finance Assistant
    </div>
    <div class="form-container">
        <form method="POST">
            <h1>Let's get some info before we get started😺</h1>

            <label for="zip_code">ZIP Code:</label><br>
            <input type="text" id="zip_code" name="zip_code" required><br><br>

            <label for="income">Monthly Take-Home Income ($):</label><br>
            <input type="number" id="income" name="income" step="0.01" required><br><br>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
